<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034697976120-7gqt8u274508abi8t5v9b2mscnto34t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034697976120-7gqt8u274508abi8t5v9b2mscnto34t7</string>
	<key>API_KEY</key>
	<string>AIzaSyASa4Vj8S6uPpA9xdULtXoGQUcA6OKJ_fs</string>
	<key>GCM_SENDER_ID</key>
	<string>1034697976120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daehoonkim.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-7bea7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-7bea7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034697976120:ios:5e71fb5081f64956e539cd</string>
</dict>
</plist>